body {
  font-family: 'Inter', sans-serif;
  color: #121212;
  margin: 0;
  padding: 0;
  min-width: 310px;
}

.section {
  width:50%;
  margin-left:25%;
  margin-top:10%;
  line-height: 1.6;
}

table {
  border-spacing: 0;
}
